student{
	display:block;margin-top:10px;color:navy;
}
usn{
	display:block;margin-left:10px;font-size:14pt;color:red;
}
name{
	display:block;margin-left:20px;font-size:12pt;color:blue;
}
college_name{
	display:block;margin-left:20px;font-size:12pt;color:blue;
}
branch{
	display:block;margin-left:20px;font-size:12pt;color:blue;
}
year{
	display:block;margin-left:20px;font-size:12pt;color:blue;
}
email{
	display:block;margin-left:20px;font-size:12pt;color:blue;
}
students{
	max-width:30%;margin:auto;background-color:#cdd864;
}
